[mysqld]
skip-name-resolve
max_connections = 256
table_open_cache = 2048
log_warnings = 2
slow_query_log = 1
log_output = FILE
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 4
bind-address = 0.0.0.0